<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Online Movie Ticket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/latest" routerLinkActive="active" >Latest Movies</a>
            
        </li>
        <li class="nav-item">      
           <a class="nav-link" routerLink="/upcoming" routerLinkActive="active" > Upcoming Movies   </a>                           
           
        </li>
        <li class="nav-item">       
           <a class="nav-link" routerLink="/nearby" routerLinkActive="active"> Nearby Events  </a>                           
            
        </li>
      
    
        
        </ul>
        
    </div>
</nav>

